<% layout('layouts/boilerplate') -%>
<section class="xl:p-0 lg:p-0 md:p-0 p-4" id="forgotpassword">
	<p class="rounded-full mr-auto xl:text-4xl lg:text-4xl text-2xl text-center xl:mt-4 lg:mt-4 mt-0">Waingapu Shop Zone</p>
	<div class="flex items-center min-h-full w-full bg-teal-lighter">
	  <div class="w-full bg-white rounded shadow-lg xl:p-8 lg:p-8 p-4 md:max-w-sm md:mx-auto">
	  	<div class="text-left mb-4">
		    <p class="xl:text-3xl lg:text-3xl text-xl w-full text-grey-darkest">Ganti Password</p>
		    <p class="xl:text-xl lg:text-xl text-sm w-full text-grey-darkest">Ganti password lama</p>
	  	</div>
 	    <form class="xl:mb-4 lg:mb-4 mb-2 md:flex md:flex-wrap md:justify-between" action="/change-password?_method=PUT" method="POST">

	        <div class="flex flex-col xl:mb-4 lg:mb-4 mb-2 md:w-full">
		        <label class="xl:mb-2 lg:mb-2 mb-1 text-sm text-grey-darkest" for="currentPassword">Password Saat Ini</label>
				<div class="flex flex-wrap items-stretch w-full relative text-grey-darkest">
					<div class="flex -mr-px">
						<span class="flex items-center leading-normal bg-grey-lighter rounded rounded-r-none border border-r-0 border-grey-light xl:px-3 lg:px-3 px-2 whitespace-no-wrap text-grey-darkest text-sm"><i class="fas fa-lock"></i></span>
					</div>	
			        <input class="flex-shrink flex-grow flex-auto leading-normal xl:py-2 xl:px-3 lg:py-2 lg:px-3 py-1 px-2 w-px flex-1 border border-grey-light rounded rounded-l-none px-3 relative focus:border-blue focus:shadow text-sm" type="password" name="currentPassword" id="currentPassword" placeholder="Password Saat Ini">

				</div>	
 	      	</div>


	        <div class="flex flex-col xl:mb-4 lg:mb-4 mb-2 md:w-full">
		        <label class="xl:mb-2 lg:mb-2 mb-1 text-sm text-grey-darkest" for="password">Password Baru</label>
				<div class="flex flex-wrap items-stretch w-full relative text-grey-darkest">
					<div class="flex -mr-px">
						<span class="flex items-center leading-normal bg-grey-lighter rounded rounded-r-none border border-r-0 border-grey-light xl:px-3 lg:px-3 px-2 whitespace-no-wrap text-grey-darkest text-sm"><i class="fas fa-unlock"></i></span>
					</div>	
			        <input class="flex-shrink flex-grow flex-auto leading-normal xl:py-2 xl:px-3 lg:py-2 lg:px-3 py-1 px-2 w-px flex-1 border border-grey-light rounded rounded-l-none px-3 relative focus:border-blue focus:shadow text-sm" type="password" name="password" id="password" placeholder="Password Baru">
				</div>	
 	      	</div>
 	      	
			<p id="validation-message" class="text-xs"></p>
	        <div class="flex flex-col xl:mb-4 lg:mb-4 mb-2 md:w-full">
		        <label class="xl:mb-2 lg:mb-2 mb-1 text-sm text-grey-darkest" for="confirm">Konfirmasi Password Baru</label>
				<div class="flex flex-wrap items-stretch w-full relative text-grey-darkest">
					<div class="flex -mr-px">
						<span class="flex items-center leading-normal bg-grey-lighter rounded rounded-r-none border border-r-0 border-grey-light xl:px-3 lg:px-3 px-2 whitespace-no-wrap text-grey-darkest text-sm"><i class="fas fa-lock"></i></span>
					</div>	
			        <input class="flex-shrink flex-grow flex-auto leading-normal xl:py-2 xl:px-3 lg:py-2 lg:px-3 py-1 px-2 w-px flex-1 border border-grey-light rounded rounded-l-none px-3 relative focus:border-blue focus:shadow text-sm" type="password" name="confirm" id="confirm" placeholder="Konfirmasi Password Baru">
				</div>	
 	      	</div>

	      <button class="block bg-teal-300 hover:bg-teal-dark text-sm mx-auto xl:my-6 xl:p-4 lg:my-6 lg:p-4 my-3 p-2 rounded-full w-full" type="submit" id="submitBTN">Ubah Password</button>
	    </form>
	  </div>
	</div>
</section>

<script>
	let newPassword = document.getElementById('password');
	let confirm = document.getElementById('confirm');
	let validationMessage = document.getElementById('validation-message');
	let submitBtn = document.getElementById('submitBTN');

	function validatePasswords(message, add, remove) {
		validationMessage.textContent = message;
		validationMessage.classList.add(add);
		validationMessage.classList.remove(remove);
	}


	confirm.addEventListener('input', e => {
		// event untuk menghandle apakah password confirm sudah sama atau belum
		e.preventDefault();
		newPasswordValue = newPassword.value;
		confirmationValue = confirm.value;

		// cek password confirm
		if(newPasswordValue !== confirmationValue) {
			// jika password confirm salah
			// tampilkan pesan bahwa password confirm masih salah
			validatePasswords('Password harus sama!', 'text-red-500', 'text-green-500');
			submitBtn.setAttribute('disabled', true); // set disable untu button submit 
		} else {
			// jika password confirm benar
			// tampilkan pesan bahwa password confirm sudah benar
			validatePasswords('Password sama!', 'text-green-500', 'text-red-500');
			submitBtn.removeAttribute('disabled'); // hapus atribut disabled pada button submit
		}
	});

</script>